@font-face {
  font-family: 'webfont';
  src: url("//at.alicdn.com/t/zw1ux29587n45cdi.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/zw1ux29587n45cdi.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/zw1ux29587n45cdi.woff") format("woff"), url("//at.alicdn.com/t/zw1ux29587n45cdi.ttf") format("truetype"), url("//at.alicdn.com/t/zw1ux29587n45cdi.svg#NotoSansHans-DemiLight") format("svg");
  /* iOS 4.1- */ }

body {
  font-family: 'webfont', 'Microsoft YaHei UI', 'Microsoft YaHei'; }

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

a:hover,
a:active {
  text-outline: 0;
  text-decoration: none; }

label {
  font-size: 12px;
  font-weight: normal; }

.tips {
  position: relative;
  top: 2px;
  margin-right: 2px;
  font-style: normal;
  color: #eb0038; }

.Wdate {
  width: 220px !important;
  height: 30px !important; }

.btn {
  min-width: 100px;
  border-radius: 2px; }
  .btn:active {
    outline: none; }

.form-control {
  height: 30px;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 2px; }

.form-control-static {
  font-size: 12px; }

.modal-header {
  padding: 10px 20px; }

.modal-title {
  font-size: 14px; }

.nav-tabs > li > a {
  font-size: 12px; }

.tab-content > .tab-pane {
  padding-top: 10px; }

.pagination li > a, .pagination li > span {
  color: #eb0038; }

.pagination li.active > a, .pagination li.active > span, .pagination li.active > a:hover, .pagination li.active > span:hover, .pagination li.active > a:focus, .pagination li.active > span:focus {
  background-color: #eb0038;
  cursor: pointer; }

.pagination li > a:hover, .pagination li > span:hover, .pagination li > a:focus, .pagination li > span:focus {
  background-color: #eb0038;
  cursor: pointer; }

.browser_tips {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #f0ad4e;
  text-align: center; }
  .browser_tips p {
    margin-bottom: 12px;
    font-size: 14px; }
  .browser_tips ul {
    background-image: transparent url(../img/bg_browser.png) no-repeat;
    background-size: 16px auto; }
    .browser_tips ul li {
      display: inline-block;
      padding-left: 34px;
      line-height: 25px; }

.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100%;
  height: 100%;
  background: url("../img/login_bg.jpg") center 0 no-repeat;
  background-attachment: fixed;
  background-size: cover;
  zoom: 1; }

.login-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.login-logo {
  width: 400px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: #eb0038;
  border-radius: 12px 12px 0 0; }

.form-login {
  width: 400px;
  padding: 30px 30px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  filter: Alpha(opacity=60);
  border-radius: 0 0 12px 12px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
  .form-login .form-group {
    position: relative;
    margin-bottom: 20px; }
  .form-login .tips {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 12px;
    color: #eb0038; }
  .form-login .form-control {
    height: 40px;
    font-size: 14px; }
  .form-login .btn {
    height: 40px;
    background-color: #eb0038;
    border: none;
    border-radius: 4px; }

.app-wrap {
  margin-top: 30px;
  margin-left: -20px;
  margin-right: -20px; }
  .app-wrap .app-ios,
  .app-wrap .app-android {
    position: relative;
    float: left;
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-left: 18px;
    margin-right: 18px;
    background: url("../img/icon-app.png") no-repeat;
    cursor: pointer; }
    .app-wrap .app-ios:hover .app-alter,
    .app-wrap .app-android:hover .app-alter {
      display: block;
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
              transform: scale(1); }
  .app-wrap .app-ios {
    background-position: 0 0; }
  .app-wrap .app-android {
    background-position: -160px 0; }

.app-alter {
  position: absolute;
  bottom: 55px;
  left: 50%;
  width: 580px;
  margin-left: -290px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
  -webkit-transform-origin: 100% 0 95%;
          transform-origin: 100% 0 95%;
  transition: opacity 0.25s, -webkit-transform 0.3s;
  transition: opacity 0.25s, transform 0.3s; }
  .app-alter .code-bg {
    background: url(../img/code_bg.png) center center no-repeat; }
  .app-alter .btn-download,
  .app-alter .code-bg {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: left;
    margin: 0 30px;
    text-align: center; }
  .app-alter .code-bg {
    padding-top: 20px; }
  .app-alter .caret {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9999;
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: -12px;
    vertical-align: middle;
    border-top: 16px dashed;
    border-top: 16px solid #fff;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent; }

.login-foot {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .login-foot p {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.head-wrap {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: #2B323A; }

.logo-admin {
  float: left;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #eb0038; }
  .logo-admin a {
    color: #fff;
    font-size: 24px; }

.nav-admin .nav-inline > li,
.nav-admin .nav-tool > li {
  display: inline-block; }
  .nav-admin .nav-inline > li.active,
  .nav-admin .nav-inline > li:hover,
  .nav-admin .nav-tool > li.active,
  .nav-admin .nav-tool > li:hover {
    background-color: #313942; }
    .nav-admin .nav-inline > li.active > a,
    .nav-admin .nav-inline > li:hover > a,
    .nav-admin .nav-tool > li.active > a,
    .nav-admin .nav-tool > li:hover > a {
      color: #fff; }
  .nav-admin .nav-inline > li > a,
  .nav-admin .nav-tool > li > a {
    display: block;
    padding: 20px;
    color: #eeeeee; }

.nav-admin .nav-tool {
  position: relative;
  top: -60px;
  right: 0;
  float: right; }
  .nav-admin .nav-tool .name {
    color: #eb0038;
    margin-right: 10px; }

.menubar-panel {
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index: 1000;
  width: 200px;
  background-color: #2B323A;
  overflow-y: auto; }

.menu-content {
  margin-top: 30px; }
  .menu-content li .title {
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 0 1px 2px #000000; }
  .menu-content li.active,
  .menu-content li:hover {
    background-color: #313942;
    border-left: 5px solid #eb0038;
    transition: border-left 0.1s; }
    .menu-content li.active .title,
    .menu-content li:hover .title {
      color: #fff; }
  .menu-content li > a {
    display: block;
    padding: 10px 20px; }

.page-iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; }

.content {
  position: fixed;
  left: 200px;
  top: 60px;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.card-body {
  position: relative;
  padding: 20px; }

.page-title {
  border-bottom: 2px solid #eeeeee; }
  .page-title h3 {
    position: relative;
    top: 17px;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 0;
    font-size: 20px;
    border-bottom: 2px solid #eb0038; }

.form-submit {
  position: absolute;
  top: 25px;
  right: 15px; }
  .form-submit .btn {
    margin: 0 5px; }

.section-body {
  margin-top: 10px;
  overflow-x: auto; }

.sl-wrap {
  background-color: #eeeeee; }

.sl-inner {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  font-size: 12px; }
  .sl-inner select,
  .sl-inner input,
  .sl-inner .btn {
    font-size: 12px; }
  .sl-inner select option {
    padding: 3px 0; }

.sl-key {
  float: left;
  display: inline-block;
  padding: 0 20px;
  height: 30px;
  color: #eb0038;
  line-height: 30px; }

.sl-value {
  }
  .sl-value .form-group {
    margin-right: 10px; 
    }
  .sl-value label {
    float: left;
    width: 80px;
    padding-top: 6px;
    margin-right: 6px;
    margin-bottom: 0;
    line-height: 20px;
    text-align: right; }
  .sl-value .form-control {
    min-width: 140px;
    max-width: 220px; }

.section-body table {
  word-break: break-all;
  font-size: 12px; }
  .section-body table th,
  .section-body table td {
    position: relative;
    min-width: 100px;
    max-width: 220px;
    text-align: center;
    white-space: nowrap; }
    .section-body table th .cell,
    .section-body table td .cell {
      display: inline-block;
      min-width: 100px;
      max-width: 210px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer; }

.form-group {
  margin-bottom: 10px; }

.modal-dialog {
  width: 600px; }

.modal-body {
  padding: 20px; }

.md-key {
  float: left;
  width: 80px;
  text-align: right; }

.md-value {
  float: left;
  width: 472px;
  margin-left: 10px; }

.form-content .form-group {
  float: left;
  display: inline-block;
  margin-bottom: 20px; }
  .form-content .form-group:before,
  .form-content .form-group:after {
    content: " ";
    display: table; }
  .form-content .form-group:after {
    clear: both; }

.form-content label {
  width: 100px;
  margin-right: 6px;
  margin-bottom: 0;
  text-align: right; }

.form-content input.form-control, .form-content select.form-control {
  width: 280px; }

.form-content select {
  margin-left: -4px; }

.other-info {
  padding: 20px; }
  .other-info p {
    font-size: 12px; }

.img-upload {
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px; }
  .img-upload li {
    position: relative;
    float: left;
    width: 200px;
    height: 140px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 140px;
    background-color: #eeeeee;
    overflow: hidden; }
    .img-upload li img {
      position: absolute;
      top: 50%;
      display: inline-block;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .img-upload li .closed {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: #fff;
      font-size: 12px;
      font-style: normal;
      background-color: #eb0038;
      border-radius: 50%;
      cursor: pointer; }
      .img-upload li .closed:hover {
        background-color: #d20032; }

.form-show {
  font-size: 12px; }
  .form-show label {
    color: #777777; }
  .form-show .value {
    display: inline-block;
    width: 220px; }

/*# sourceMappingURL=main.css.map */
